.custom-shape {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.07); /* Removed quotes */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #F2946D;
    clip-path: polygon(100% 0, 100% 51%, 77% 100%, 0 100%, 0 0); /* Custom polygon shape */
  }
  .custom-shape h2 {
    margin: 0;
    font-size: 20px;
    color: white;
  }
  

  .team-card {
    background: #FFFFFF0D;
    border-radius: 12px;
    padding: 20px;
    width: 220px;
    text-align: center;
    position: relative;
    border: 2px solid transparent;
    background-clip: padding-box;
    height: 320px;
  }
  
  .team-card::before {
    content: "";
    position: absolute;
    inset: 0; /* Cover the entire card */
    padding: 2px; /* Controls the border thickness */
    border-radius: 12px;
    background: linear-gradient(90deg, #6F5CEA, #AE5BFF, #F2946D); 
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none; /* Allows interaction with the inner content */
  }

  .profile-img img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
  }
  
  @media (max-width: 768px) {
    .team-card {
      width: 100%;
    }
  }
  