.input-custom::placeholder {
    color: #B7D869 !important; /* Change placeholder color to blue */
  }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

