.input-custom::placeholder {
    color: #B7D869 !important; /* Change placeholder color to blue */
  }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gradient-bg {  background: linear-gradient(to right, rgba(59, 130, 246, 0.5), rgba(219, 39, 119, 0.5)); }
